<header>
    <div  class="head_top">
       <app-navc></app-navc>
    </div>
 </header>
&backcong;
<div id="" class="best">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Description  About Pet's Health</h2>
                <span>Pets deserve all your attention and care, They lighten your days and make every day worth living for you</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="best_box">
                <h4> <br>Pet's Food</h4>
                <p>Pets food is a specially food for domesticated animals, that is formulated according to their nutrition needs</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="best_box">
                <h4> <br> Pet's Drugs</h4>
                <p>The most common medications that people gives their animals are pain meds, anti-vomiting, and diarrhoe meds, and treatments for skin problems</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="best_box">
                <h4> <br> Care your pet's</h4>
                <p>Look for low cost alternatives, ask your vet for help, look for cheaper prescription, be proactive to protect your pet's health, compare treatmets</p>
             </div>
          </div>
       </div>
    </div>
 </div>