
This food helps our animals to get nutrition
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class=" text-center pb-4">
                        <img src="../../../../assets/casset/images/.jpg" height="200" width="200" alt="profile" class="rounded-circle mb-3"/>
                      </div>
                    </div>
                    <div class="col-lg-8 pl-lg-5">
                      <div class="d-flex align-items-center">
                        <div>
                          <h3>DOGS FOOD</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 pl-lg-5">
                        <div class="d-flex justify-content-between">
                        </div>
                        <div class="mt-4 py-2 border-top border-bottom">
                          <ul class="nav profile-navbar">
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                Foods
                              </a>
                            </li>
                            
                          </ul>
                        </div>
                        <div class="row grid-margin">
                            <div class="col-lg-12">
                              <div class="card px-3">
                                <div class="card-body">
                                  <h4 class="card-title">List of Foods</h4>
                                  <div id="lightgallery-without-thumb" class="row lightGallery">
                                    <a  class="image-tile"><img src="../../../../assets/casset/images/images." alt="image small">
                                    <b><h3>VEGETABLE</h3></b><br>
                                    <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">View</label>&nbsp;
                                    <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">Buy</label>
                                    </a>
                                    <a  class="image-tile"><img src="../../../../assets/casset/images/.jpg" alt="image small">
                                        name of food<br>
                                        <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">View</label>&nbsp;
                                        <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">Buy</label>
                                    </a>
                                    <a  class="image-tile"><img src="../../../../assets/casset/images/.jpg" alt="image small">
                                        name of food<br>
                                        <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">View</label>&nbsp;
                                        <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">Buy</label>
                                    </a>
                                    <a  class="image-tile"><img src="../../../../assets/ca.jpg" alt="image small">
                                        name of food<br>
                                        <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">View</label>&nbsp;
                                        <label routerLink="/doctorlist" class="badge badge-outline-success badge-pill">Buy</label>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023</span>
           </div>
        </footer>
  
 